apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-nodejs
  labels:
    app: demo-nodejs
spec:
  selector:
    matchLabels:
      app: demo-nodejs
  template:
    metadata:
      labels:
        app: demo-nodejs
    spec:
      containers:
        - name: demo-nodejs
          image: demo-nodejs-image
          ports:
            - containerPort: 8080
